<nb-card class="col-md-12 col-lg-12 col-xxxl-12 p-0">
  <nb-card-body>
    <nb-icon icon="home" pack="eva"></nb-icon>
    <span class="ml-2">Accueil</span>
  </nb-card-body>
</nb-card>
<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card>
      <nb-card-header>Collections</nb-card-header>
      <nb-card-body class="py-0">
        <nb-list>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <img class="icon mr-3" src="./../../../assets/images/living-room-books-group.png" alt="">
                <span>Collections</span>
              </div>
              <div class="font-weight-bold list-text">2</div>
            </div>
          </nb-list-item>

          <nb-list-item class="border-bottom-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <img class="icon mr-3" src="./../../../assets/images/books-stack-of-three.png" alt="">
                <span>Livres</span>
              </div>
              <div class="font-weight-bold list-text">26</div>
            </div>
          </nb-list-item>

        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card>
      <nb-card-header>Wishlists</nb-card-header>
      <nb-card-body class="py-0">
        <nb-list>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <img class="icon mr-3" src="./../../../assets/images/book.png" alt="">
                <span>Wishlists</span>
              </div>
              <div class="font-weight-bold list-text">2</div>
            </div>
          </nb-list-item>

          <nb-list-item class="border-bottom-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <img class="icon mr-3" src="./../../../assets/images/books-stack-of-three.png" alt="">
                <span>Livres</span>
              </div>
              <div class="font-weight-bold list-text">26</div>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Derniers ajouts</nb-card-header>
      <nb-card-body>
        <div class="row show-grid">
          <div class="col-md-2 col-sm-4">
            <div class="position-relative">
              <img src="./../../../assets/images/book-of-black-cover-closed.png" alt="..." class="img-thumbnail border-0 bg-transparent">
              <span class="badge badge-success bottom-right rounded-circle p-2">
                <nb-icon icon="plus" pack="eva"></nb-icon>
              </span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="position-relative">
              <img src="./../../../assets/images/book-of-black-cover-closed.png" alt="..." class="img-thumbnail border-0 bg-transparent">
              <span class="badge badge-success bottom-right rounded-circle p-2">
                <nb-icon icon="plus" pack="eva"></nb-icon>
              </span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="position-relative">
              <img src="./../../../assets/images/book-of-black-cover-closed.png" alt="..." class="img-thumbnail border-0 bg-transparent">
              <span class="badge badge-success bottom-right rounded-circle p-2">
                <nb-icon icon="plus" pack="eva"></nb-icon>
              </span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="position-relative">
              <img src="./../../../assets/images/book-of-black-cover-closed.png" alt="..." class="img-thumbnail border-0 bg-transparent">
              <span class="badge badge-success bottom-right rounded-circle p-2">
                <nb-icon icon="plus" pack="eva"></nb-icon>
              </span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="position-relative">
              <img src="./../../../assets/images/book-of-black-cover-closed.png" alt="..." class="img-thumbnail border-0 bg-transparent">
              <span class="badge badge-success bottom-right rounded-circle p-2">
                <nb-icon icon="plus" pack="eva"></nb-icon>
              </span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="position-relative">
              <img src="./../../../assets/images/book-of-black-cover-closed.png" alt="..." class="img-thumbnail border-0 bg-transparent">
              <span class="badge badge-success bottom-right rounded-circle p-2">
                <nb-icon icon="plus" pack="eva"></nb-icon>
              </span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
