<nb-card class="col-md-12 col-lg-12 col-xxxl-12 p-0">
  <nb-card-body>
    <nb-icon icon="home" pack="eva"></nb-icon>
    <span class="ml-2" [routerLink]="['../../user-dashboard']">Accueil</span>
    <span class="ml-2">/</span>
    <span class="ml-2">Profil</span>
    <span class="ml-2">/</span>
    <span class="ml-2 text-primary">Éditer mon Profil</span>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center w-100">
      <nb-user size="large" name="Jane Doe" picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
      </nb-user>
      <button nbButton hero status="primary" [routerLink]="['../user-profile']">
        <nb-icon icon="eye" pack="eva"></nb-icon>
        <span>Voir Mon profil</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="pt-0">
    <form>
      <div class="form-group">
        <label for="inputNickname" class="label">Pseudonyme</label>
        <input type="text" nbInput fullWidth id="inputNickname" placeholder="Entrez votre pseudonyme">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputLastName" class="label">Nom</label>
            <input type="text" nbInput fullWidth id="inputLastName" placeholder="Entrez votre nom">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputFirstName" class="label">Prénom</label>
            <input type="text" nbInput fullWidth id="inputFirstName" placeholder="Entrez votre prénom">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="label">Email</label>
        <input type="email" nbInput fullWidth id="inputEmail" placeholder="Entrez votre email">
      </div>
      <button type="submit" nbButton status="danger" class="w-100">
        <nb-icon icon="save" pack="eva"></nb-icon>
        Sauvegarder les modifications
      </button>
    </form>

  </nb-card-body>
  <!-- <nb-card-footer class="d-flex justify-content-center w-100">
    <button nbButton hero status="primary" class="w-100" [routerLink]="['../user-profile']">
      <nb-icon icon="eye" pack="eva"></nb-icon>
      Revenir sur Mon profil
    </button>
  </nb-card-footer> -->
</nb-card>
