

<nb-card size="large">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4 class="mr-5">{{ title }}</h4>
      <button nbButton hero status="danger" (click)="dismiss()">Fermer</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <div class="row show-grid">
      <div class="col-md-12">
        <img src="https://via.placeholder.com/120x150/763626/FFECE1?Text=book" alt="book_cover" class="img-thumbnail">
      </div>
    </div> -->

    <div class="row show-grid">
      <div class="col-md-4">
        <div>
          <img src="https://via.placeholder.com/120x150/763626/FFECE1?Text=book" alt="book_cover" class="img-thumbnail">
        </div>
      </div>
      <div class="col-md-8">
        <h5>La Fée Sanctus</h5>
        <h6>Complainte des Landes perdues</h6>
        <h6>Tome 5</h6>
      </div>
    </div>

    <div class="row show-grid">
      <div class="col-md-12">
        <nb-list>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Titre</span>
              </div>
              <div class="font-weight-bold list-text">La Fée Sanctus</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Série</span>
              </div>
              <div class="font-weight-bold list-text">Complainte des Landes perdues</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Tome</span>
              </div>
              <div class="font-weight-bold list-text">5</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Résumé</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>ISBN</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Type</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Date de publication</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Éditeur</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Style</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Format</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Nombre de pages</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Dépôt légal</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>
          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Genre</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>

          <nb-list-item class="border-top-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <span>Public</span>
              </div>
              <div class="font-weight-bold list-text">XXXX</div>
            </div>
          </nb-list-item>

        </nb-list>
      </div>
    </div>
  </nb-card-body>
  <!-- <nb-card-footer></nb-card-footer> -->
</nb-card>
